body{
    background-color: rgba(7, 112, 173, 0.918);
    font-family: Lato;
}

section{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    
}

footer, header{
color: antiquewhite;
text-align: center;
}

header{
    font: normal 20pt fonteTitulo;
}

footer{
    font-style: italic;
}

div{
    text-align: center;
    padding: 15px;
}

img{
    text-align: center;
    position: relative;
    width: 500px;
    /* height: 500px; */

}

button{
    position: relative;
    width: 250px;
    font: normal 24px LatoBold;
    background-color:rgb(7, 112, 173) ;
    color: rgb(255, 255, 255);
    border: 2.7px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    border-radius: 10px;
}
@font-face {
    font-family: fonteTitulo;
    src: url(Fontes/rodaja/Woodcutter_Rodaja.ttf);
}

@font-face {
    font-family: Lato;
    src: url(Fontes/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(Fontes/Lato/Lato-Bold.ttf);
}

